<h1>Edit search</h1>

<form id="edit-search" name="search">
  <div class="field">
    <label for="keywords"> keywords:</label>
    <input type="text" name="keywords" id="keywords" value="<%= keywords %>" >
  </div>

  <div class="field">
    <label for="distance"> distance:</label>
    <input type="text" name="distance" id="distance" value="<%= distance %>" >
  </div>

  <div class="field">
    <label for="zoom"> zoom:</label>
    <input type="text" name="zoom" id="zoom" value="<%= zoom %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Search" />
  </div>

</form>

<a href="#/index">Back</a>