<h1>Listing searches</h1>

<table id="searches-table">
  <tr>
    <th>Keywords</th>
    <th>Distance</th>
    <th>Zoom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Search</a>