<div class="search-result">
  <p class="col-md-12">
  	<img class="img result-vibe-icon" src="<%= vibeImgPath %>"/>
  	<a href="<%= campsitePath %>" class="lead col-md-12 result-header-link">
    	<%= model.name %>
  	</a>
  </p>
  <hr class="col-md-12">
</div>