<div class="search-result">
  <p class="">
  	<img class="result-vibe-icon col-md-3" src="<%= vibeImgPath %>"/>
  	<a href="<%= campsitePath %>" class="result-header-link col-md-9">
    	<%= model.name %>
  	</a>
  </p>
  <hr class="col-md-12">
</div>