<!--<p>
  <b>Keywords:</b>
  <%= keywords %>
</p>

<p>
  <b>Distance:</b>
  <%= distance %>
</p>

<p>
  <b>Zoom:</b>
  <%= zoom %>
</p>


<a href="#/index">Back</a>-->

<!-- Search result list area -->
<div class="col-md-4">
	<h1>Listing searches</h1>
	<div id="search-results-list">
	</div>
</div>

<!-- Search result map area -->
<div id="search-map" class="col-md-8">
</div>