<div id="results-container" class="col-md-4 well white fill-height remove-bottom-margin pad-left-sm hidden-sm hidden-xs
 result-list fill-height">
 	<div class='filters pad-top-md'>
 		<div class="panel panel-success">
 			<div class="panel-heading">New!<div aria-hidden="true" class="button close" data-dismiss="panel" id="panel-close" type="button">×</div></div>
 			<div class="panel-body"><p>CampHero gained some new search powers! More superpowers coming soon.</p></div>
 		</div>
 		<p class="col-md-12"> 
 			<span class="text-muted"> Vibe:&nbsp;&nbsp;</span>
 			<button class="btn btn-xs btn-success filter vibe-filter active" data-filterName="all">All</button>
 			<span class=""> &nbsp; </span>
 			<button class="btn btn-xs btn-default filter vibe-filter" data-filterName="rustic">Rustic</button>
 			<span class=""> &nbsp; </span>
 			<button class="btn btn-xs btn-default filter vibe-filter" data-filterName="rv">RV</button>
 			<span class=""> &nbsp; </span>
 			<button class="btn btn-xs btn-default filter vibe-filter" data-filterName="backcountry">Backcountry</button>
			<span class=""> &nbsp; </span>
			<button class="btn btn-xs btn-default filter vibe-filter" data-filterName="horse">Horse</button>
 		</p>
 		<p class="col-md-12"><small><span id="results-count" class="text-muted"></span>&nbsp;<a href="#">More filters></a>&nbsp;</small></p>
 		<hr class="col-md-12">
 	</div>
	<div id="search-results-list" class="pad-top-sm"></div>
	<div class="row pad-top-md">
        <p class="col-md-12">
          <small class="subtle-text"> CampHero &copy 2014 <a href="/terms"> Terms </a></small>
        </p>
    </div>
</div><!-- end #results-container-->

<!-- Search result map area -->
<div class="mapColumn col-md-8 fill-height no-spacing">
	<button id="search-reset" class="thumbnail add-tooltip searchMapResetTracker" type="submit" data-placement="right" data-toogle="tooltip" title="Search this area"><span class="glyphicon glyphicon-repeat"></span></button>
	<div id="search-map">

	</div>
</div><!-- end map-column-->