<div id="results-container" class="col-md-4 well white fill-height remove-bottom-margin pad-left-sm hidden-sm hidden-xs
 result-list fill-height">
 	<div class='filters'>
 		<p class="pad-top-md col-md-12"> 
 			Vibe:&nbsp;
 			<button class="btn btn-sm btn-default filter vibe-filter pull-right" data-filterName="backcountry">Backcountry</button>
 			<span class="pull-right"> &nbsp; </span>
 			<button class="btn btn-sm btn-default filter vibe-filter pull-right" data-filterName="rv">RV</button>
 			<span class="pull-right"> &nbsp; </span>
 			<button class="btn btn-sm btn-default filter vibe-filter pull-right" data-filterName="rustic">Rustic</button>
 			<span class="pull-right"> &nbsp; </span>
 			<button class="btn btn-sm btn-success filter vibe-filter active pull-right" data-filterName="all">All</button>
 		</p>
 		<p class="col-md-12"> 
 			Bookings:
 			<small class="pull-right"><a href="#">More filters></a></small>
 			<span class="pull-right"> &nbsp; </span>
 			<button class="btn btn-sm btn-default filter pull-right" data-filterName="reservable">Reservable</button>
 			<span class="pull-right"> &nbsp; </span>
 			<button class="btn btn-sm btn-default filter pull-right" data-filterName="firstCome">First-come</button>
 		</p>
 		<hr class="col-md-12">
 	</div>
	<div id="search-results-list" class="pad-top-sm"></div>
	<div class="row">
        <p class="col-md-12">
          <small class="subtle-text"> CampHero &copy 2014 <a href="/terms"> Terms </a></small>
        </p>
    </div>
</div><!-- end #results-container-->

<!-- Search result map area -->
<div class="mapColumn col-md-8 fill-height no-spacing">
	<button id="search-reset" class="thumbnail add-tooltip searchMapResetTracker" type="submit" data-placement="right" data-toogle="tooltip" title="Search this area"><span class="glyphicon glyphicon-repeat"></span></button>
	<div id="search-map">

	</div>
</div><!-- end map-column-->