<h1>Listing search_results</h1>

<table id="search_results-table">
  <tr>
    <th>Name</th>
    <th>State abbrev</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Elevation</th>
    <th>Phone</th>
    <th>Electric sites</th>
    <th>Showers</th>
    <th>Outhouse</th>
    <th>Dump</th>
    <th>Url</th>
    <th>Plumbing</th>
    <th>Water</th>
    <th>Tent allowed</th>
    <th>Rv allowed</th>
    <th>Walkin</th>
    <th>Hikein</th>
    <th>Boatin</th>
    <th>Rustic</th>
    <th>Rv</th>
    <th>Backcountry</th>
    <th>Horse</th>
    <th>Likely toilets</th>
    <th>No toilets</th>
    <th>Electricity</th>
    <th>City name</th>
    <th>Sewer hookup</th>
    <th>Fifty amp</th>
    <th>Thirty amp</th>
    <th>Twenty amp</th>
    <th>Pull thrus</th>
    <th>Wifi</th>
    <th>Laundry</th>
    <th>Beach</th>
    <th>On lake</th>
    <th>On river</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Search results</a>