<ul class="nav nav-pills nav-stacked" role="tablist">
	<li class="listing-control active" role="presentation"><a href="#" data-link="overview">Overview</a></li>
	<li class="listing-control" role="presentation"><a href="#" data-link="amenities">Amenities</a></li>
	<li class="listing-control" role="presentation"><a href="#" data-link="details">Details</a></li>
  <!-- <li class="listing-control" role="presentation"><a href="#" data-link="photos">Photos</a></li> -->
	<!-- <li class="listing-control" role="presentation"><a href="#" data-link="guidebook">Guidebook</a></li> -->
</ul>