<div class="row">
	<div id="edit-listing-controls" class="col-md-2" data-view="edit-listing-controls">
	</div>
	<div class="col-md-8 col-md-offset-1" data-view="edit-listing-form">
	</div>
</div>

<!-- <form id="edit-listing" name="listing">
  <div class="actions">
    <input type="submit" value="Update Listing" />
  </div>

</form>

<a href="#/index">Back</a> -->