// Place all the styles related to the Campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Campsite show page ============================================
$campsiteMapHeight: 500px;

#campsiteMap {
  height:$campsiteMapHeight;
  width:100%;
  //position:absolute;
  padding:0px;
  margin:0px;
}
#mapRow {
  height:$campsiteMapHeight;
  width:100%;
}

#campsite-detail-header { height:400px;}

.campsite-detail-page {
  h1, h2, h3, h4, h5 {color:$dark-slate-grey; }
}

#booking-box {
  .booking-box-row { margin:0px; }
  
  h4 { color:white; }
  
  p { margin:0px; 
      padding:$sm-spacing;
    }
}

.push-campsite-buttons-to-bottom { 
  position: relative;
  top:320px; 
}